<p>vuelos-component works!</p>
<div class="navLinks">
    <a href="#" [routerLink]="['./main']">Main</a> |
    <a href="#" [routerLink]="['./mas-info']">Mas Información</a> |
    <a href="#" [routerLink]="['./', 5]">Vuelo 5</a>
</div>

<router-outlet></router-outlet>