<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let s of sugerencias;">{{s}}</li>
        </ul>
        <div>
            <h9 style="color:brown; text-align: right;" *ngIf="!fg.controls['nombre'].valid">Dato requerido!</h9>
            <h9 style="color:brown; text-align: right;" *ngIf="fg.controls['nombre'].hasError('valMinLong')">Debe tener al menos {{minLong}} caracteres!</h9>
        </div>
    </div>
    <div class="form-group">
        <label for="Imagen URL">Imágen URL</label>
        <input type="text" class="form-control" name="Imagen URL" placeholder="Ingrese URL..." [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>