<div class="container content">
    <div class="row">
    	<div class="col-md-6 offset-md-3">
    		<span class="anchor" id="formLogin"></span>
    		<div class="card card-outline-secondary">
    			<div class="card-header">
    				<h1 class="mb-0">Wishlist</h1>
    			</div>
    			<div class="card-body">
    				<app-formulario-destino-viaje (onItemAdded)="agregado($event)"></app-formulario-destino-viaje>
    			</div>
    		</div>
    	</div>
    </div>
    <hr class="mb-5">
    <div class="row">
		<app-destino-viaje 
			*ngFor="let x of allDestinos(); let i=index"
			[destino]="x"
			[position]="i+1"
			(clicked)="elegido(x)"
			></app-destino-viaje>	
	</div>
	
	<h3>Actividad</h3>
	<ul>
		<li *ngFor="let u of updates;">{{u}}</li>
	</ul>
</div>