<div class="card-content">
	<div class="card-img">
		<img src="https://blznav.akamaized.net/img/games/cards/card-world-of-warcraft-54576e6364584e35.jpg" alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h1>{{destino.nombre}}</h1>
		<span *ngIf="destino.isSelected()">
			<h3>Seleccionado</h3>
		</span>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let x of destino.servicios">
				<span [ngSwitch]="x">
					<i *ngSwitchCase="'Piscina'">{{x}}</i>
					<i *ngSwitchDefault style="color: red;">{{x}}</i>
				</span>
			</li>
		</ul>
		<div>
			<a href="#" (click)="voteUp()">
				<i class="material-icons md-dark">thumbs_up</i>
			</a>
			<a href="#" (click)="voteDown()">
				<i class="material-icons md-dark">thumbs_down</i>
			</a>
			{{destino.votes}}
		</div>
		<a href="#" class="btn-card" (click)="Ir()">Ir</a>
		<a [routerLink]="['/destino']">Ver Detalle</a>
	</div>
</div>